p {
	color: rgb(59, 72, 62);
}

h1 {
	color:rgb(108, 142, 46);
	text-shadow: rgb(86, 206, 38) 1px 0 10px;

}

h2 {
	margin: 5px;
	color : #5b8433;
	font-family: cursive;
	background: linear-gradient(90deg,rgb(196, 200, 194),#6db691);
}
h3{
    color:rgb(50, 91, 33);
}


